<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">

{% endblock %}
{% load tz %}
{% load get_result_data %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px">
<a href="{% url 'randomise_golden_goal' %}"><button>Randomise Golden Goal results</button></a>
<a href="{% url 'randomise_silver_goal' %}"><button>Randomise Silver Goal results</button></a>
<a href="{% url 'randomise_matches' %}"><button>Randomise match results</button></a>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
</div>
{% endblock %}

{% block postloadjs %}
    
{% endblock %}