{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/golden_route.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <div id="">
        <!-- Modal -->
        <div class="modal fade" id="myModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">You have a tie for 1st and 2nd place
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Please select the team you wish to put in 1st place.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE START -->
    <div class="container">
        <!-- Page Intro -->
        <div class="row">
            <div class="col-12 col-lg-8 loggedInPageIntro">
                <h1 class="loggedInPageHeading">The Golden Route</h1>
                <p class="loggedInPage1stPara">Win, draw or lose, you can still pile up on points! Simply click on a date, enter your scores and press save.
                Get X points for each team's score you get right and a bonus of X points if both are correct. You can also
                change your predictions right up until kick off.
                </p>
                <hr>
            </div>
        </div>

        <!-- Group Stage Section -->
        <div class="main-container">
        <section>
            <div class="content">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col group-container" id="A">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col px-0 group-reset">
                                            <p>A</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="B">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>B</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="C">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>C</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="D">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>D</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col group-container" id="E">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>E</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="F">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>F</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="G">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>G</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col group-container" id="H">
                                    <div class="row header-images gx-0 align-items-center">
                                        <div class="col p-0 group-reset">
                                            <p>H</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col" id="last_16">                                    
                                    <div class="match-container" data-match='49'>
                                        <input type="number" name="_49" hidden>
                                        <div class="row knockout-team-container" id="A1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="B2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="match-container" data-match='50'>
                                        <input type="number" name="_50" hidden>
                                        <div class="row knockout-team-container" id="C1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="D2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='53'>
                                        <input type="number" name="_53" hidden>
                                        <div class="row knockout-team-container" id="E1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="F2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='54'>
                                        <input type="number" name="_54" hidden>
                                        <div class="row knockout-team-container" id="G1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="H2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='51'>
                                        <input type="number" name="_51" hidden>
                                        <div class="row knockout-team-container" id="B1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="A2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='52'>
                                        <input type="number" name="_52" hidden>
                                        <div class="row knockout-team-container" id="D1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="C2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='55'>
                                        <input type="number" name="_55" hidden>
                                        <div class="row knockout-team-container" id="F1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="E2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='56'>
                                        <input type="number" name="_56" hidden>
                                        <div class="row knockout-team-container" id="H1">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="G2">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" id="svg_1">
                                </div>
                                <div class="col" id="quart_final">
                                    <div class="match-container" data-match='57'>
                                        <input type="number" name="_57" hidden>
                                        <div class="knockout-team-container" id="W49">
                                            <div class="row">
                                                <div class="col-4 d-flex align-items-center">
                                                    <img class="h-100 p-0 table-image img-thumbnail"
                                                        src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                        alt="home team">
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <p>TBD</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="knockout-team-container" id="W50">
                                            <div class="row">
                                                <div class="col-4 d-flex align-items-center">
                                                    <img class="h-100 p-0 table-image img-thumbnail"
                                                        src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                        alt="home team">
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <p>TBD</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='58'>
                                        <input type="number" name="_58" hidden>
                                        <div class="row knockout-team-container" id="W53">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W54">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='59'>
                                        <input type="number" name="_59" hidden>
                                        <div class="row knockout-team-container" id="W51">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W52">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='60'>
                                        <input type="number" name="_60" hidden>
                                        <div class="row knockout-team-container" id="W55">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W56">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" id="svg_2">
                                </div>
                                <div class="col" id="semi_final">
                                    <div class="match-container" data-match='61'>
                                        <input type="number" name="_61" hidden>
                                        <div class="row knockout-team-container" id="W57">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W58">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='62'>
                                        <input type="number" name="_62" hidden>
                                        <div class="row knockout-team-container" id="W59">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W60">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" id="svg_3">
                                    
                                </div>
                                <div class="col" id="final">
                                    <div class="match-container" data-match='64'>
                                        <input type="number" name="_64" hidden>
                                        <div class="row knockout-team-container" id="W61">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="W62">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-container" data-match='63'>
                                        <input type="number" name="_63" hidden>
                                        <div class="row knockout-team-container" id="L61">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                        <div class="row knockout-team-container" id="L62">
                                            <div class="col-4 d-flex align-items-center">
                                                <img class="h-100 p-0 table-image img-thumbnail"
                                                    src="https://res.cloudinary.com/dfboxofas/image/upload/c_scale,h_1152,w_1920/v1661859591/nations-crests/blank_crest_uauslc.png"
                                                    alt="home team">
                                            </div>
                                            <div class="col-7 d-flex align-items-center">
                                                <p>TBD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="submit-button btn btn-success w-100">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        </div>
    </div>

</main>
<!-- <div class="table"></div> -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'home/js/golden_route.js' %}"></script>
{% endblock %}