<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% load tz %}
{% load get_result_data %}
 
{% block page_header %}

{% endblock %}
{% block content %}
{% include 'includes/nav-header.html' %} 
<!--Golden Goal modal-->
<div class="modal fade" id="golden-goal-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Golden Goal</h1>
                <div class="row w-100">
                    <div class="modal-tab col-5 active" data-index="1">
                        <h4>Gameplay</h4>
                    </div>
                    <div class="modal-tab col-5" data-index="2">
                        <h4>Points</h4>
                    </div>
                    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>     
            </div>            
            <div class="modal-body">
                <div class="tooltip-container gameplay" id="">
                    <img src="https://res.cloudinary.com/dfboxofas/image/upload/v1689421859/womens-world-cup-wizard/golden_goal_screenshot_mgcgw5.jpg" alt="Golden goal screenshot">
                    <div class=" tooltip-text">
                        <p>Fill out the Golden Goal tournament wallchart</p>
                        <ol>
                            <li>Begin by selecting a winning team or a draw for each of the games in the group stages. The knockout rounds will then automatically populate depending on the match results that you have set in the group stages.</li>
                            <li>Continue this for the knockout rounds by selecting which team you think will progress for each of the matches right through to the final to decide your overall winner.</li>
                            <li>You can save this at any time and come back to it later but once the first match has kicked off your choices will be locked in place so make sure you have it completed before then.</li>
                        </ol> 
                        <p><span>Note:</span> This must be completed before the first match has kicked off.</p>
                        
                        
                    </div>
                </div>
                <div class="tooltip-container points" id="">
                    <div class=" tooltip-text">
                        <p>Points are awarded as follows:</p>
                        <ul>
                            <li>Group stage - 1 point for each correct match result.</li>
                            <li>Last 16 - 2 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                            <li>Quarter final - 3 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                            <li>Semi final - 4 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                            <li>3/4 play off - 5 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                            <li>Final - 5 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                            <li>Winner - 10 points for correctly predicting the Womens World Cup winners</li>
                        </ul>
                        
                    </div>
                </div>
                <!-- <p>Fill out the Golden Goal tournament wallchart.</p>
                <p>Begin by selecting a result for each of the matches in the group stages. The knockout matches will automatically populate based on the results selected in each group.</p>
                <p>Select a winner for each of the knockout matches and continue this right through to the final and predict an overall winner.</p>
                <p>Points are awarded for each correct group match predicted correctly and for each team correctly predicted to be in each knockout round.</p>
                <p>NOTE: This game must be completed before the tournament begins.</p> -->
            </div>           
            <div class="modal-footer">
                <a role="button" class="btn modal-save-button" href="{% url 'golden_goal' %}">> > > Go > > ></a>
            </div>
        </div>
    </div>
</div>
<!--Silver Goal modal-->
<div class="modal fade" id="silver-goal-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container modal-header">
                <h1 class="modal-title silver" id="exampleModalLabel">Silver Goal</h1>
                <div class="row w-100">
                    <div class="modal-tab col-5 active" data-index="1">
                        <h4>Gameplay</h4>
                    </div>
                    <div class="modal-tab col-5" data-index="2">
                        <h4>Points</h4>
                    </div>
                    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>     
            </div>    
            <div class="modal-body">
                <div class="tooltip-container gameplay" id="">
                    <img src="https://res.cloudinary.com/dfboxofas/image/upload/v1689426949/womens-world-cup-wizard/silver_goal_screenshot_xzae3p.jpg" alt="">
                    <div class=" tooltip-text">
                        <p>Try to predict the scores of each match throughout the tournament.</p>
                        <p>Points are awarded for correctly predicting the number of goals that each team scores. A point is also awarded if the match outcome is correct.</p>
                        <p>A bonus point is awarded if you get both scores correct.</p>
                        <p>You can enter the score for each match right up until each match kicks off.</p>
                        
                    </div>
                </div>
                <div class="tooltip-container points" id="">
                    <div class=" tooltip-text">
                        <p>Points are awarded as follows:</p>
                        <ul>
                            <li>Home team score correct - 1 point.</li>
                            <li>Away team score correct - 1 point.</li>
                            <li>Match outcome correct - 1 point.</li>
                            <li>Get both scores correct and get a bonus 'hat-trick' point.</li>
                        </ul>
                        
                    </div>
                </div>
            </div>         
            <div class="modal-footer">
                <a role="button" class="btn modal-save-button" href="{% url 'game' %}">> > > Go > > ></a>
                <!-- <button type="button" class="btn close" data-bs-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="container main-content">
                <div class="row">
                    <div class="col">
                        <div class="page-intro">
                            <div class="intro-wrapper">
                                <img class="aus-nz-img" src="https://res.cloudinary.com/dfboxofas/image/upload/v1689686769/womens-world-cup-wizard/aus_nz_img_izk8eh.png" alt="">
                                <h1 class="page-heading">Womens World Cup Wizard</h1>
                                <img class="coygig-img" src="https://res.cloudinary.com/dfboxofas/image/upload/v1689679227/womens-world-cup-wizard/coygig_img_zu5lbm.png" alt="">
                                <!-- <h1 class="coygig">COYGIG<span>!</span></h1> -->
                            </div>
                            <p class="page-para">With two games combined,</p>    
                            <p class="page-para">World Cup Wizard offers double the fun.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-between">
                    <div class="col-6 align-items-stretch">
                        <div class="card">
                            <div class="row">
                                <div class="col text-center">
                                    <a href="{% url 'golden_goal' %}"><img src="https://res.cloudinary.com/dfboxofas/image/upload/v1689360866/womens-world-cup-wizard/golden_goal_final_edit_mfptx9.png" alt="the golden goal logo" class="card-img-top"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center chevrons">
                                    <button type="button" class="btn btn-sm mt-auto view-more" data-bs-toggle="modal" data-bs-target="#golden-goal-modal">
                                        Learn more
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 align-items-stretch">
                        <div class="card">
                            <div class="row">
                                <div class="col text-center">
                                    <a href="{% url 'game' %}"><img src="https://res.cloudinary.com/dfboxofas/image/upload/v1689358595/womens-world-cup-wizard/silver_goal_final_edit_tsk380.png" alt="the silver goal logo" class="card-img-top silver-goal-logo"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center chevrons">
                                    <button type="button" class="btn btn-sm mt-auto view-more" data-bs-toggle="modal" data-bs-target="#silver-goal-modal">
                                        Learn more
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col">
                        <div class="register text-center">
                            <h5 class="deadline">Registration Closes in: </h5>
                            <h5 class="countdown" class="deadline mb-2"></h5>
                            {% if not user.is_authenticated %}
                                <a class="btn" href="{% url 'account_signup' %}" type="button" role="button">Register Now</a>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                </div>
            
                <div class="row content rules">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <div class="accordion-header-text text-center">
                                    Gameplay
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>This game comprises of two parts in which to score points.</p>
                                <ul>
                                    <li>In the Golden Goal fill out the World Cup wallchart and try to forecast each teams progress throughout the tournament, this part must be completed before the tournament kicks off.</li>
                                    <li>In the Silver Goal daily you try to predict the scores of each match as they are played each day throughout the tournament. Scores can be entered right up until kick-off.</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="accordion-header-text text-center">
                                    Scoring Points
                                </div>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h5>Golden Goal</h5>
                                <ul>
                                    <li>Group stage - 1 point for each correct match result.</li>
                                    <li>Last 16 - 2 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                                    <li>Quarter final - 3 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                                    <li>Semi final - 4 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                                    <li>3/4 play off - 5 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                                    <li>Final - 5 points for each team predicted to be in this round. Doubled for teams in the correct place.</li>
                                    <li>Winner - 10 points for correctly predicting the Womens World Cup winners</li>
                                </ul>
                                <h5>Silver Goal</h5>
                                <ul>
                                    <li>1 point awarded if you get the correct number of goals the home team scores.</li>
                                    <li>1 point awarded if you get the correct number of goals the away team scores.</li>
                                    <li>1 point awarded if you get the match outcome correct.</li>
                                    <li>Score a match hat-trick, ie, get all 3 points above and you score an extra point for getting the match ball.</li>
                                </ul>
                                <h5>Overall scoring</h5>
                                <ul>
                                    <li>Your overall score is the total number of points scored across both games.</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/index.js' %}"></script>
{% endblock %}
