{% extends "base.html" %}
{% load static %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/leaderboard.css' %}">
{% endblock %}
{% block page_header %}

{% endblock %}

{% block content %}
{% include 'includes/nav-header.html' %} 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h1>Leaderboard</h1>
            <table id="leaderboard">
                <tr>
                    <th></th>
                    <th class="team-name">Name</th>
                    <th class="data-col" onclick="sortTable(2, this)">Golden Goal <i class="fa-solid fa-sort-down"></i></th>
                    <th class="data-col" onclick="sortTable(3, this)">Silver Goal <i class="fa-solid fa-sort-down"></i></th>
                    <th class="data-col data-col-active" onclick="sortTable(4, this)">Total <i class="fa-solid fa-sort-down"></i></th>
                </tr>
                {% for item in data %}
                    {% if item.user == myself %}
                        <tr class="myself">
                            <td>{{ forloop.counter }}.</td>
                            <td class="team-name">{{ item.username }}</td>
                            <!-- <td>{{ item.wizard_points }}</td> -->
                            <td><a href="{% url 'userswizards' item.user %}">{{ item.wizard_points }}</a></td>
                            <td><a href="{% url 'userscores' item.user %}">{{ item.personal_results_points }}</a></td>
                            <td class="data-col-active">{{ item.total_points }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td class="team-name">{{ item.username }}</td>
                            <!-- <td>{{ item.wizard_points }}</td> -->
                            <td><a href="{% url 'userswizards' item.user %}">{{ item.wizard_points }}</a></td>
                            <td><a href="{% url 'userscores' item.user %}">{{ item.personal_results_points }}</a></td>
                            <td class="data-col-active">{{ item.total_points }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'home/js/leaderboard.js' %}"></script>
{% endblock %}