{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/onboarding_3.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section-container">
    <section>
        <div class="content">
            <h1>Content 1</h1>
        </div>
    </section>
    <section>
        <div class="content">
            <h1>Content 2</h1>
        </div>
    </section>
    
</div>
<script>
    
    console.log("header height = ", headerHeight)
    $('section').click(function() {
        var headerHeight = $('header').height();
        console.log("header height = ", headerHeight)
        console.log("this", $(this))
        // $(this).siblings().focus();
        var elem = $(this).siblings();
        console.log("elem", $(this).siblings())
        var borderBox = elem[0].getBoundingClientRect();
        console.log("borderBox = ", borderBox['x'])
        window.scrollTo(borderBox['x'], headerHeight)
        // $.scrollTo(borderBox['x'], headerHeight)
        // setTimeout(window.scrollTo(borderBox['x'], headerHeight),1000);


    })
</script>
{% endblock %}