{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- GROUP STAGE -->
<div class="container main-content g-0">
    <div class="section-container">
        <div class="row">
            <div class="col-6 col-lg-3">
                <p>Group A</p>
                <div class="group-container" id="group_A">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group B</p>
                <div class="group-container" id="group_B">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group C</p>
                <div class="group-container" id="group_C">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group D</p>
                <div class="group-container" id="group_D">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <p>Group E</p>
                <div class="group-container" id="group_E">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group F</p>
                <div class="group-container" id="group_F">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group G</p>
                <div class="group-container" id="group_G">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p>Group H</p>
                <div class="group-container" id="group_H">
                </div>
            </div>
        </div>
    </div>
    <!-- LAST 16 STAGE -->
    <div class="container section-container last16">
        <div class="row">
            <div class="col">
                <p class="text-center">Last 16</p>
                <p class="text-center last16-text">Please select a winning team from each match to continue</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_2a">
                <p class="text-center">Last Sixteen (1)</p>
                <div class="row">
                    <div class="col team-container" id="group_A1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_B2b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_2b">
                <p class="text-center">Last Sixteen (2)</p>
                <div class="row">
                    <div class="col team-container" id="group_C1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_D2b">

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_4b">
                <p class="text-center">Last Sixteen (3)</p>
                <div class="row">
                    <div class="col team-container" id="group_D1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_C2b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_4a">
                <p class="text-center">Last Sixteen (4)</p>
                <div class="row">
                    <div class="col team-container" id="group_B1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_A2b">

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_1a">
                <p class="text-center">Last Sixteen (5)</p>
                <div class="row">
                    <div class="col team-container" id="group_E1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_F2b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_1b">
                <p class="text-center">Last Sixteen (6)</p>
                <div class="row">
                    <div class="col team-container" id="group_G1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_H2b">

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_3a">
                <p class="text-center">Last Sixteen (7)</p>
                <div class="row">
                    <div class="col team-container" id="group_F1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_E2b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="QF_3b">
                <p class="text-center">Last Sixteen (8)</p>
                <div class="row">
                    <div class="col team-container" id="group_H1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="group_G2b">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- QUARTER FINAL STAGE -->
    <div class="container section-container quarter-final">
        <div class="row">
            <div class="col">
                <p class="text-center">Quarter Final</p>
                <p class="text-center quarter-final-text">Please select a winning team from each match to continue</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="SF_1b">
                <p class="text-center">Quarter Final (1)</p>
                <div class="row">
                    <div class="col team-container" id="QF_1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="QF_1b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="SF_1a">
                <p class="text-center">Quarter Final (2)</p>
                <div class="row">
                    <div class="col team-container" id="QF_2a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="QF_2b">

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="SF_2b">
                <p class="text-center">Quarter Final (3)</p>
                <div class="row">
                    <div class="col team-container" id="QF_3a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="QF_3b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="SF_2a">
                <p class="text-center">Quarter Final (4)</p>
                <div class="row">
                    <div class="col team-container" id="QF_4a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="QF_4b">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- SEMIFINAL STAGE -->
    <div class="container section-container semi-final">
        <div class="row">
            <div class="col">
                <p class="text-center">Semi Final</p>
                <p class="text-center semi-final-text">Please select a winning team from each match to continue</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container" data-next_round_place="SFW_1a">
                <p class="text-center">Semi Final (1)</p>
                <div class="row">
                    <div class="col team-container" id="SF_1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="SF_1b">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 match-container" data-next_round_place="SFW_2b">
                <p class="text-center">Semi Final (2)</p>
                <div class="row">
                    <div class="col team-container" id="SF_2a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="SF_2b">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success" onclick="getFinalTeams()">Continue<i
                        class="fa-solid fa-arrow-right fa-2xl"></i></button>
            </div>
        </div>
    </div>
    <!-- 3RD PLACE PLAYOFF -->
    <div class="container section-container thirdPlace">
        <div class="row">
            <div class="col">
                <p class="text-center">3rd Place Playoff</p>
                <div class="text-center third-place-error"></div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container">
                <p class="text-center">3rd Place Playoff</p>
                <div class="row">
                    <div class="col team-container" id="SFL_1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="SFL_2b">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FINAL -->
    <div class="container section-container final">
        <div class="row">
            <div class="col">
                <p class="text-center">Final</p>
                <div class="text-center final-error"></div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 match-container">
                <p class="text-center">Final</p>
                <div class="row">
                    <div class="col team-container" id="SFW_1a">

                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p class="mx-auto">V</p>
                    </div>
                    <div class="col team-container" id="SFW_2b">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'home/js/onboarding_2a.js' %}"></script>
{% endblock %}