.main-container {
    background: url("https://res.cloudinary.com/dfboxofas/image/upload/v1661352995/nations-crests/worldcuptrophy_u2dh7n.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.card-img-top {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.card-body {
    background-color: #5f001e;
    /* min-height: 240px; */
}

.card-body p {
    text-align: left;
}

.card {
    margin-bottom: 20px;
}

.content {
    padding-top: 10px;
    background-color: #5f001e;   
}

h5 {
    color: #fff;
    text-align: left;
    padding-left: 1rem;
}

.rules li {
    color: #fff;
    text-align: left;
}