
.main-content {
    background: url("https://res.cloudinary.com/dfboxofas/image/upload/v1676461728/womens-world-cup-wizard/WCTrophy_portrait_fvs1sv_18313c.jpg");
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100%;
    /* padding-top: 5px; */
    padding-bottom: 80vh;
}

.page-intro h1 {
    color: var(--silver);
    background-color: var(--header-bg);
}

.fa-circle-info {
    color: var(--silver);
    margin-right: 5px;
}

.tooltip-icon {
    float: right;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
}

.dummy-tooltip-icon {
    visibility: hidden;
    float: left;
    border-radius: 50%;
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
}

.dummy-tooltip-icon i {
    color: #00000096;
    margin-left: 5px;
}

.modal-tab {
    background-color: #e1f5fe;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding-top: 0.25rem;
    cursor: pointer;
}

.modal-tab:not(.active) {
    background-color: #b3d1df;
}

.modal-tab h4 {
    background-color: transparent!important;
    margin-bottom: 0!important;
}

#points {
    display:none;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.listings   {
    /* background-color: var(--gg-group-bg); */
    background-color: #c0c0c0cc;
    margin-bottom: 5px;
}

.listings p {
    /* color: var(--home-bg); */
    color: #000;
    /* color: #0a0e1a; */
    font-size: .8rem;
    font-family: Roboto;
    text-align: center;
    margin-bottom: 0;
}

.listings .btn   {
    opacity: 1;
}

.img-thumbnail {
    padding: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill; 
    border: 1px solid #fff;
    border-radius: 5%;
}

.flagImageLeft {
    padding-left: 2.5vw;
}

.flagImageRight {
    padding-right: 2.5vw;
}

.listings input {
    text-align: center;
    font-size: 0.75rem;
    position: relative;
    max-width: 100%;
    border-radius: .2rem;
    border: 1px solid #000;
}

/* h1 {
    color: #fff;
} */

td  {
    margin-bottom: 0px;
    font-family: Roboto;
    color: #fafafa;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn {
    border-radius: 10px;
    opacity: 1.0;
}

.btn-sm {
    padding: 0 .5rem;
}

.note {
    font-size: 0.7rem!important;
}

.note span {
    text-decoration: underline;
}

.match-outcome {
    display: flex;
    justify-content: center;
    position: relative;
    /* display: none; */
}

.listings .points {
    display: none;
    visibility: hidden;
}

.points-styles {
    text-align: right;
    margin: 0px 10px 5px 1px;
    border-radius: 20px;
    padding: 0;
    font-size: .75rem!important;
}

.match-outcome div {
    text-align: center;
    margin: 0px 1px 5px 1px;
    border: 2px solid var(--navy);
    border-radius: 20px;
    display: none;
    justify-content: center;
    max-width: 90px;
    visibility: hidden;
    padding: 0;
}

.match-outcome p {
    color: var(--navy);
    font-size: .75rem;
}

.correct {
    background-color: var(--navy);
    
}

.correct p {
    color: #fff;
}

.accordion-body {
    background-color: #6f96bc96;
    padding: 5px 0;
    text-align: center;
}

.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    /* margin-bottom: 5px; */
} 

.fixture-result .score {
    
    border: 2px solid var(--navy);
    border-radius: .25rem;
}

.fixture-result p {
    color: var(--navy);
}

.fixture-result .correct {
    background-color: var(--navy);  
    color: #fff;
}

/* .home-true {
    border: 2px solid gold;
}

.away-true::before {
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f1e3";
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    color: gold;
    z-index: 1;
    font-size: .5rem;
} */

#accordionFlushExample {
    width: 100%;
}

h2 button span {
    font-size: 0.75em;
}

/*- Enables the repositioning of elements in a game row when on mobile -*/
/* @media (max-width: 575px) {
    .home_team_score_div,
    .away_team_score_div {
        padding-right: 2.5vw;
    }
    .away_team_flag_div {
        padding-left: 2.5vw;
    }
    .flagImageRight {
        padding-right: 0;
    }
} */
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--home-bg);
}

.accordion-button {
    color: #fff;
    background-color: #6f96bc96;
    /* font-weight: bold; */
    /* font-size: small; */
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

li {
    color: #fff;
}

.save-button {
    border: 2px ridge #fff;
    background-color: var(--gg-team-selected);
    color: #fff;
}

.save-button:hover {
    color: var(--gold);
    border: 2px solid var(--gold);
}
