.main-content {
    background: url("https://res.cloudinary.com/dfboxofas/image/upload/v1661352995/nations-crests/worldcuptrophy_u2dh7n.jpg");
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100%;
}

.listings   {
    background-color: #000;
    opacity: 0.85;
}

img {
    padding: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.flagImageLeft {
    padding-left: 2.5vw;
}

.flagImageRight {
    padding-right: 2.5vw;
}

h1 {
    color: #fff;
}

p, td  {
    margin-bottom: 0px;
    font-family: Roboto;
    color: #fafafa;
    /* font-weight: bold; */
}

input {
    margin-bottom: 5px;
    max-width: 100%;
}

.btn {
    border-radius: 10px;
    opacity: 1.0;
}

.accordion-item {
    background-color: transparent;
    margin-bottom: 5px;
} 

.fixture-result p {
    color: yellow;
}

#accordionFlushExample {
    width: 100%;
}

h2 button span {
    font-size: 0.75em;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #5f001e;
}

.accordion-button {
    color: #5f001e;
    background-color: transparent;
}

/* Taken from https://ishadeed.com/article/handling-text-over-image-css/ */
.loggedInPageIntro {
    background: linear-gradient(to top, rgba(95, 0, 30, 0.95), transparent);
    margin: 10px 0;
}

.loggedInPageHeading {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}
