
.container-fluid {
    position: relative;
}

/* Group stage css */

.group-container {
    border: 1px solid #5f001e;
    overflow: hidden;
}

.group-container p  {
    overflow-x: hidden;
    white-space: nowrap;
    color:#fff;
    text-overflow: clip;
}

/* Group stage images */
.header-images .col:first-of-type p {
    color: black;
    background-color: yellow;
    border-radius: 5%;
    font-size: 1rem;
}

.header-images p {
    text-align: center;
}

.group-reset {
    padding: 0;
    color: black;
    background-color: yellow;
    border-radius: 5%;
}

p {
    font-size: .75rem;
}

.img-thumbnail {
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
}

.image-position {
    position: relative;
    padding: 0;
}

.image-position::before {
    content: attr(data-positions);
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #5f001e;
    color: white;
    z-index: 1;
    font-size: .5rem;
}

.image-position:nth-child(-n+3)::before {
    background-color: green;
}

.group-container .row:nth-of-type(even) {
    background-color: #e1f5fe;
}

.group-container .match-selected.row:nth-of-type(even) {
    background-color: #f7e7ec;
}

.group-container .row:nth-of-type(odd) {
    background-color: #cde0e9;
}

.group-container .match-selected.row:nth-of-type(odd) {
    background-color: #f7d7e0;
}

.group-container .col {
    padding: 0;
}

.team-container p {
    color: #000;  
    font-size: .75rem;
    width: 100%;
    text-align: center;
}

.team-container {
    margin: 1px 0;
    position: relative;
}

/* THIS STYLING TO BE USED FOR WIZARD TOURNAMENT PROGRESS */
/* .team-container::before {
    content: "1";
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    width: 1.0rem;
    height: 1.0rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    color: white;
} */

.fa-check {
    color: green;
}


.selected {
    background-color: #5f001e;
    border-radius: 5%;
}

.selected p {
    color: #fff;
}

.gold-border p {
    color: gold;
    font-size: .75rem;
}

/*MODALS*/
.modal-body {
    background-color: #e1f5fe;
    
}

.modal-body p {
    color: #000;
}

.fa-square-right    {
    color:black;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
    border-right: 1px solid black;
}

/*  Knockout rounds and associated containers */
.col.knockout-col {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.match-container {
    margin: 1px 0;
    border-radius: .25rem;
    align-items: center;
    height: 25%;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

.match-container:nth-child(odd) {
    background-color: #cde0e9;
}

.match-container.match-selected:nth-child(odd) {
    background-color: #f7e7ec;
}

.match-container:nth-child(even) {
    background-color: #e1f5fe;
}

.match-container.match-selected:nth-child(even) {
    background-color: #f7d7e0;
}

.knockout-team-container {
    margin:1px;
}
.knockout-team-container .img-thumbnail {
    padding: 0;
    vertical-align: middle;
} 

.knockout-team-container p {
    color:red;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 1px;
}

.winner.knockout-team-container {
    background-color: #5f001e;
    border-radius: .25rem;
}

.winner p {
    color: #fff;
}

.loser img {
    filter: brightness(50%);
}

.loser.team-container p {
    font-weight: 200;
    font-size: .7rem;
    color: grey;
}

.loser.knockout-team-container p {
    font-weight: 200;
    font-size: .7rem;
    color: grey;
}

/* #last_16 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#quart_final {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

#semi_final {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

#final {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
} */

li {
    color: #fff;
}

polyline {
    stroke: #fff;
    stroke-width: 3;
    fill:none
    /* display: none; */
}

.selectedPath {
    width: 100%;
    /* stroke: #000; */
    stroke-dasharray: 450;
    stroke-dashoffset: 450; 
    animation: 1.5s ease-in forwards goldenpath;
}

@keyframes goldenpath {
    0% {
        stroke-dashoffset: 450;
        /* stroke: #5f001e; */
      }
    
      /* 70% {
        stroke-dashoffset: 0;
      } */
    
      100% {
        stroke-dashoffset: 0;
        stroke: gold;
      }
}

