.fixed-top {
    position: static;
}

body {
    padding-top: 0;
}

.container-fluid {
    position: relative;
}

.main-container { 
    background-color: #33333350;
}

h1,h3 {
    text-align: center;
    background-color: #333333C4;
    color: #fff;
}



.tooltip-icon {
    float: right;
    border-radius: 50%;
    background-color: green;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative;
  /* display: inline-block; */
}

.tooltip-container {
    margin: auto;
    width: 80%;
}

.tooltip-text {
    display: none;
    background-color: black;
    width: 80%;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin:auto; 
    position: absolute;
    z-index: 2;
}

.tooltip-text p {
    text-align: left;
    padding: .5rem;
}

.tooltip-icon:hover .tooltip-text{
    visibility: visible;
}

.content {
    margin-bottom: 8px;
}

/* Group stage css */

.group-container {
    border: 1px solid #5f001e;
    overflow: hidden;
}

/* .group-container p  {
    overflow-x: hidden;
    white-space: nowrap;
    color:#fff;
    text-overflow: clip;
} */

/* Group stage images */
.header-images .col:first-of-type p {
    color: black;
    background-color: yellow;
    border-radius: 5%;
    font-size: 1rem;
}

.header-images p {
    text-align: center;
}

.group-reset {
    padding: 0;
    color: black;
    background-color: yellow;
    border-radius: 5%;
}

p {
    font-size: .75rem;
    font-family: Roboto;
}

.img-thumbnail {
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
}

.image-position {
    position: relative;
    padding: 0;
}

.image-position::before {
    content: attr(data-position);
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #5f001e;
    color: white;
    z-index: 1;
    font-size: .5rem;
}

.image-position:nth-child(-n+3)::before {
    background-color: green;
}

.group-container .row:nth-of-type(even) {
    background-color: #e1f5fe;
}

.group-container .match-selected.row:nth-of-type(even) {
    background-color: #f7e7ec;
}

.group-container .row:nth-of-type(odd) {
    background-color: #cde0e9;
}

.group-container .match-selected.row:nth-of-type(odd) {
    background-color: #f7d7e0;
}

.group-container .col {
    padding: 0;
}

.team-container p {
    color: #000;  
    font-size: .75rem;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.team-container {
    margin: 1px;
    position: relative;
    max-width: 33%;
}

/* THIS STYLING TO BE USED FOR WIZARD TOURNAMENT PROGRESS */
/* .team-container::before {
    content: "1";
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    width: 1.0rem;
    height: 1.0rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    color: white;
} */

.fa-check {
    color: green;
}


.selected {
    background-color: #5f001e;
    border-radius: 5%;
}

.selected p {
    color: #fff;
}

.gold-border:not(.selected) p {
    font-size: .75rem;
    background-color: gold;
}

.gold-border.selected p {
    color: gold;
    font-size: .75rem;
}

/* .gold-border.selected::before {
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f1e3";
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    color: gold;
    z-index: 1;
    font-size: .5rem;
} */

/*MODALS*/
.modal-title {
    text-align: center;
}
.modal-body {
    background-color: #e1f5fe;  
}

.modal-body p {
    padding-bottom: 1rem;
    color: #000;
    text-align: center;
}

.modal-body .selectable img {
    border-radius: 5%;
    border: 3px solid #5f001e;
    animation: pulse 1s linear 2 alternate;
}

.modal-body .eliminated img {
    filter: brightness(50%);
    border-color: transparent;
    /* animation: none; */
}

.modal-body .eliminated p {
    color: gray;
}

.modal-body .qualified  img {
    border: 3px solid #5f001e;
    padding: 0;
    margin: 4px;
    /* animation: none; */
}

.qualified::before {
    content: attr(data-qualified);
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: green;
    color: white;
    z-index: 1;
    font-size: .5rem;
}

.fa-square-right    {
    color:black;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
    border-right: 1px solid black;
}

/*  Knockout rounds and associated containers */
.knockout-col {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.match-container {
    margin: 1px 0;
    border-radius: .25rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.match-container .match-title {
    padding: 0;
    color: #5f001e;
    background-color: #b3b318a6;
}

.match-container:nth-child(odd) {
    background-color: #cde0e9;
    /* margin-top: 2px; */
}

.match-container.match-selected:nth-child(odd) {
    background-color: #f7e7ec;
}

.match-container:nth-child(even) {
    background-color: #e1f5fe;
    /* margin-bottom: 2px; */
}

.match-container.match-selected:nth-child(even) {
    background-color: #f7d7e0;
}

.knockout-team-container {
    width: 100%;
    margin: 1px;
}

.knockout-team-container > * {
    vertical-align: middle;
}

.knockout-team-container .img-thumbnail {
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    width: 20%;
} 

.knockout-team-container p {
    display: inline-block;
    padding: 5px;
    width: 80%;
    color:#000000;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: left;
    vertical-align: middle;
    margin: auto;
    
}

@media (max-width: 450px){
    .match-container {
        /* margin-top: 5px; */
        /* margin-bottom: 5px; */
    }
    .knockout-team-container .img-thumbnail {
        width: 30%;
    } 
    .knockout-team-container p {
        max-width: 5.5ch;
        padding: 0;
        width: 70%;
    }
}

.winner.knockout-team-container {
    background-color: #5f001e;
    border-radius: .25rem;
}

.winner p {
    color: #fff;
}

.loser img {
    filter: brightness(50%);
}

.loser.team-container p {
    font-weight: 200;
    font-size: .7rem;
    color: grey;
}

.loser.knockout-team-container p {
    font-weight: 200;
    color: grey;
}

/* #last_16 .match-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4px;
} */

#quart_final .match-container {
    height: 16.66%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#semi_final .match-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

#semi_final .match-container .match-title {
    padding: 0;
}

#third-place-playoff {
    margin: 2px;
}


#final {
    background-image: url("https://res.cloudinary.com/dfboxofas/image/upload/v1668087726/nations-crests/world_cup_predictor_1_oo3omp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    /* margin: 5px; */
}

#final .match-container {
    background-color: transparent;
    height: 100%;
    justify-content: space-around;
}

#final .knockout-team-container {
    background-color: #e1f5fe;
    border: 1px solid #5f001e;
    border-radius: .25rem;
}

#final .knockout-team-container.winner {
    background-color: #5f001e;
    /* border: 1px solid #5f001e;
    border-radius: .25rem; */
}

li {
    color: #fff;
}

polyline {
    stroke: #fff;
    stroke-width: 3;
    fill:none
    /* display: none; */
}

.selectedPath {
    width: 100%;
    /* stroke: #000; */
    stroke-dasharray: 450;
    stroke-dashoffset: 450; 
    animation: 1.5s ease-in forwards goldenpath;
}

.modal-save-button {
    background-color: #5f001e;
    color: #fff;
}

.submit-button {
    position: fixed;
    bottom: 0;
    right: 18.5vw;
    width: 15vw;
}

.wizard-complete {
    animation: pulse 1s linear infinite alternate;
    background-color: #5f001e;
}

.wizard-complete:hover {
    color: #fff;
    border-color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes goldenpath {
    0% {
        stroke-dashoffset: 450;
        /* stroke: #5f001e; */
      }
    
      /* 70% {
        stroke-dashoffset: 0;
      } */
    
      100% {
        stroke-dashoffset: 0;
        stroke: gold;
      }
}

@media (min-width: 992px){
    .col-lg-8 {
        width: 100%;
    }
}
