
.golden-goal-container {
    padding: 0 5px;
}

h1, h5 {
    background-color: var(--header-bg);
}


.fa-circle-info {
    color: #d7b56d;
    margin-right: 5px;
}

.tooltip-icon {
    float: right;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
}

.dummy-tooltip-icon {
    float: left;
    border-radius: 50%;
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
}

.dummy-tooltip-icon i {
    visibility: hidden;
    color: #00000096;
    margin-left: 5px;
}


/*New group container */
.section-title {
    margin-bottom: .25rem;
    text-align: center;
}

.group {
    align-items: center;
    background-color: var(--gg-group-bg);
    padding: 0 0 1px 0;
    margin: .1rem;
    border-radius: .15rem;
}

.group-header {
    /* background-color: #0a0e1a!important; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: .15rem;
    margin-bottom: 2px;
    padding: 0 2px;
}

.group-title {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-left: 2px;
}

.hide-color {
    color: #0a0e1a;
}

.group-title p {
    /* color: var(--gold); */
    margin: 0;
}

.group-image {
    display: inline-block;
    width: 18%;
    position: relative;
    padding: 0;
}

.group-image::before {
    content: attr(data-position);
    transform: translate(100%, -.25rem);
    position: absolute;
    width: 1.0rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #5f001e;
    color: white;
    z-index: 1;
    font-size: .5rem;
}

.group-image:nth-child(-n+3)::before {
    background-color: green;
}

.team-crest {
    max-width: 100%;
    border-radius: .15rem;
    border: 1px solid transparent;
}

.match-row {
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: .15rem;
    margin: 2px;
}

.group .match-row:last-of-type {
    margin-bottom: .25rem;
}

.group .match-row:nth-of-type(odd) {
    background-color: #cde0e9;
}

.group .match-row:nth-of-type(even) {
    background-color: #e1f5fe;
}

.match-number {
    width: 7.5%;
}

.match-number p {
    color: #000;
    text-align: center;
    margin: 1px;
    padding: 1px;
    /* background-color: yellow; */
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
}

.match-points {
    width: 7.5%;
}

.match-points p {
    color: #fff;
    text-align: center;
    font-size: .6rem;
    margin: 1px;
    padding: 1px;
    background-color: #d7b56d;
    border: 1px solid transparent;
    border-radius: .25rem;
    /* width: 100%; */
}

.team-container p {
    color: #000;  
    font-size: .6rem;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 1px 0;
    padding: 3px 0;
    border-radius: .15rem;
}

.team-container {
    margin: 1px 0;
    position: relative;
    width: 32%;
}

/* Group stage images */
.header-images p {
    text-align: center;
}

p {
    font-size: .75rem;
    font-family: Roboto;
}

.group .match-row.match-selected {
    background-color: #acadb7;
}




/* THIS STYLING TO BE USED FOR WIZARD TOURNAMENT PROGRESS */
.fa-check {
    color: green;
}

.selected {
    background-color: #19223f;
    border-radius: .15rem;
}

.selected p {
    color: #fff;
    font-size: .6rem!important;
}

/*MODALS*/
.tie-break-header {
    padding: 0 1rem!important;
}

.modal-title {
    background-color: transparent;
}

.tie-text-1, .tie-text-2 {
    font-size: .85rem;
    text-align: center;
    font-family: Roboto;
}

.tie-break p {
    padding: .5rem 0;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

.tie-break .selectable img {
    border-radius: 5%;
    border: 3px solid var(--navy);
    animation: pulse 1s linear 2 alternate;
}

.tie-break .eliminated img {
    filter: brightness(50%);
    border-color: transparent;
}

.tie-break .eliminated p {
    color: gray;
}

.tie-break .qualified  img {
    border: 3px solid var(--gold);
    padding: 0.25rem;
}

.qualified::before {
    content: attr(data-qualified);
    position: absolute;
    transform: translateY(1.75rem);
    width: 1.0rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: green;
    color: white;
    z-index: 1;
    font-size: .5rem;
}

.modal-save-button {
    background-color: var(--gold);
    color: #000;
}

/*  Knockout rounds and associated containers */
.image-div {
    max-width: 50px;
    position: absolute;
    border: 1px dotted #000;
}

.knockout-container {
    height: 80vh;
    position: relative;
}

.knockout-col {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.match-container {
    margin: 0;
    border-radius: .25rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.match-container .match-title {
    padding: 0;
    color: #19223f;
    background-color: #acadb7;
    margin: 0;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: .8rem;
    letter-spacing: 3px;
}

.match-container:nth-child(odd) {
    background-color: #cde0e9;
}

.match-container.match-selected:nth-child(odd) {
    background-color: #acadb7;
}

.match-container:nth-child(even) {
    background-color: #e1f5fe;
}

.match-container.match-selected:nth-child(even) {
    background-color: #acadb7;
}

.knockout-team-container {
    margin: 1px;
    background-color: #ffffff75;
}

#final .knockout-team-container:not(.winner-container) {
    background-color: #fff;
    border-radius: .25rem;
}

.knockout-team-container > * {
    vertical-align: middle;
}

.knockout-team-container .img-thumbnail {
    /* margin: 0; */
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    width: 20%;
} 

.knockout-team-container p {
    display: inline-block;
    font-size: .6rem;
    padding: 5px;
    width: 80%;
    color:#000000;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: left;
    vertical-align: middle;
    margin: auto;
    
}

@media (max-width: 768px){
    .knockout-team-container .img-thumbnail {
        width: 35%;
    } 
    .knockout-team-container p {
        /* max-width: 5.5ch; */
        padding: 0;
        width: 65%;
        text-align: center;
    }
}

.winner.knockout-team-container {
    background-color: #19223f!important;
    border-radius: .25rem;
}

#final .winner.knockout-team-container {
    border: 1px solid #fff;
}

.winner p {
    color: #fff;
}

#final .winner-container.winner p {
    /* text-align: center; */
    color: var(--gold);
}

.loser img:not(.actual-home-team, .actual-away-team) {
    filter: brightness(50%);
}

.loser.team-container p {
    font-weight: 200;
    font-size: .55rem;
    color: #fff;
    margin: 1px;
    /* border: 1px solid transparent; */
}

.loser.knockout-team-container p {
    font-weight: 200;
    color: #000;
}

.losing-svg {
    filter: brightness(50%);
}

#quart-final .match-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#semi-final .match-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 28%;
}

#semi-final .match-container .match-title {
    padding: 0;
}

#third-place-playoff {
    margin: 2px;
    transform: translateX(-100%);
}
 

#final {
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

#final .match-container {
    background-size: cover;
    background-color: var(--navy);
    background-image: url("https://res.cloudinary.com/dfboxofas/image/upload/v1689367550/womens-world-cup-wizard/winner_img_mm1h9n.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 53%;
    justify-content: space-between;
}

.knockout-team-container.loser {
    background-color: #acadb7;
}

/* @media (min-width: 1199px) {
    #final .match-container {
        background-size: 85%;
    }
  } */

.winner-container {
    background-color: #ffffff75;
    margin: 1px;
}

.winner-container.winner {
    background-color: #00000000;
}

li {
    color: #fff;
}

polyline {
    stroke: #fff;
    stroke-width: 3;
    fill:none;
}

.selectedPath {
    width: 100%;
    stroke-dasharray: 450;
    stroke-dashoffset: 450; 
    animation: 1.5s ease-in forwards goldenpath;
}

.submit-button {
    position: absolute;
    bottom: 50px;
    right: 0;
    border: 4px ridge lightblue;
    z-index: 1;
    padding: 0;
    background-color: #19223f;
    color: #fff;
}

.submit-button:hover {
    background-color: #d7b56d;
    color: #000;
}

.submit-button:active {
    background-color: #d7b56d;
    color: #000;
}

.save-button-index {
    font-size: 75%;
}

.wizard-complete {
    animation: pulse 1s linear infinite alternate;
    background-color: #d7b56d;
    color: #000;
}

.wizard-complete:hover {
    color: #fff;
    border-color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes goldenpath {
    0% {
        stroke-dashoffset: 450;
    }
    
    100% {
        stroke-dashoffset: 0;
        stroke: gold;
    }
}
