.deadline {
    font-size: 6vw;
}

@media (min-width: 1025px) {
    .deadline {
        font-size: 2vw;
    }
}

h3, h4, h5, a, p {
   color: white;
}

.wcplogo {
    width: 85%;
    max-width: 400px;
}
