
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background-color: var(--home-bg)!important;
}

.main-content {
    display:flex;
    flex-direction: column;
    /* height: 85vh; */
    justify-content: space-around;
    padding:0;
    background-image: url("https://res.cloudinary.com/dfboxofas/image/upload/v1676461728/womens-world-cup-wizard/WCTrophy_portrait_fvs1sv_18313c.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.modal-body p {
    margin-bottom: .5rem;
}

@media (min-width: 1025px) {
    .deadline {
        font-size: 2vw;
    }
}

h3, h4, h5, a, p {
   color: white;
}

/* Button Start */
.btn {
    width: 50%;
    opacity: 1.0;
    background-color: #0a0e1a;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
 
 .btn:hover,
 .btn:focus {
    color: #d7b56d;
    /* background-color: green; */
    font-weight: bold;
    border: 2px solid #d7b56d;
}

.modal-footer .btn {
    color: var(--gold);
    border: 2px solid var(--gold);
}
/* Button End */

.page-intro {
    background-color: #000000b8;
    text-align: center;
    padding-top: 1rem;
    margin: .5rem 0;
    color: #d7b56d;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-intro img {
    object-fit: contain;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.coygig-img {
    padding: .75rem;
}

.aus-nz-img {
    filter: brightness(150%);
}

.coygig {
    /* font-size: 3rem; */
    font-family: 'Bangers', cursive;
    color: #016f26;
    text-shadow: 1px 2px  #fff;
    transform: rotate(-20deg);
    width: 20%;
    display: inline-block;
}

.coygig span {
    color: orange;
    text-shadow: 2px 1px  #fff;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.page-heading {
    text-align: center;
    color: #fff;
    font-family: 'Bangers', cursive;
    display: inline-block;
    width: 50%;
    color: #d7b56d;
}

.page-para {
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.golden-goal-header {
    color: var(--gold);
    font-family: 'bangers', cursive;
}

/*About section */
.card {
    margin: 0;
    transition: width 2s;
    background-color: #000000b8;
}

.card-img-top {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.silver-goal-logo {
    filter: brightness(120%);
}

.view-more {
    background-color: #0a0e1a;
    color: #fff;
    width: 80%;
}

.view-less {
    display: none;
    background-color: #0a0e1a;
}

.full-width {
    width: 100%;
}

.chevrons p {
    margin: 0;
}

.fa-chevron-down {
    padding: 0 0.5rem;
}

.fa-chevron-up {
    padding: 0 0.5rem;
}

.card-body {
    background-color: #0a0e1a;
    /* min-height: 240px; */
    /* display: none; */
}

.card-body p {
    text-align: left;
    font-size: .9rem;
}

.card-body a {
    border: 2px solid #d7b56d;
    color: #d7b56d;
}
/* REGISTER SECTION */
.register {
    margin-top: 1rem;
    background-color: #000000b8;
    padding-bottom: 1rem;
}

.register h5:first-child {
    padding-top: 1rem;
    color: #fff;
}

.register h5 {
    color: #d7b56d;
}

.register a {
    border: 2px solid #d7b56d;
    color: #d7b56d;
    max-width: 330px;
    margin: auto;
}

/* CONTENT & ACCORDION SECTION */
.accordion-button {
    background-color: #000;
}

.accordion-button:not(.collapsed) {
    background-color: #000;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-header-text {
    width: 100%;
    color: #fff;
    font-family: Roboto;
}

.accordion-item {
    margin: 5px 0;
}

.accordion-body {
    background-color: #fff;
}

.accordion-body p, li, h5 {
    color: #000;
}

/* The animation code */
@keyframes widen {
    0%   {width: 50%;}
    50%  {width: 75%;}
    /* 100% {width: 100%;} */
  }
  
  