h1 {
    background-color: var(--header-bg);
}

.fa-sort-down {
    vertical-align: text-top;
}

th, td {
    font-size: .7rem;
    padding: 5px 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

th {
    background-color: var(--gg-group-bg);
    color: #fff;
    font-weight: 500;
}

th:first-child {
    padding-left: 5px;
}

td:first-child {
    padding-left: 5px;
}

td:not(.team-name)  {
    text-align: center;
}

th:not(.team-name) {
    text-align: center;
    /* padding-left: 5px; */
}

th.data-col {
    width: 22%;
}

table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

tbody {
    padding-right: 5px;
}

tr:nth-child(odd) {
    background-color: #b3b318;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #939313;
    color: #fff;
}

a {
    color: #fff;
}

.myself {
    background-color: var(--navy)!important;
}

.myself td {
    color: #fff;
    font-size: .8rem;
}

.myself td {
    color: #fff;
}

.myself a {
    color: #fff;
}

.data-col-active {
    color: #fff;
    font-size: .8rem!important;
}

th.data-col-active {
    color: #fff;
}
