h1, h5 {
    background-color: var(--header-bg);
    color: var(--silver);
}

.layout {
    background-color: #000000D9;
}

.layout .row:not(.header):nth-of-type(odd) {
    background-color: #b3b318;
}

.layout .row:not(.header):nth-of-type(even) {
    background-color: #939313;
}

.layout .col {
    padding: 0;
    margin: auto;
    width: 7.5%;
}

.layout .col-2 {
    width: 23%;
    margin: auto;
}

.fa-check {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: green;
}

.fa-xmark {
    display: flex;
    justify-content: center;
    width: 100%;
    color: red;
}

.home-team, .totals {
    text-align: right!important;
    
}

.away-team {
    text-align: left!important;
}

.layout p {
    text-align: center;
    margin: 0;
    font-size: .8rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

#hat-tricks {
    text-align: right;
}