h1 {
    color: red;
}

h5  {
    color:white;
}

p   {
    color: white;
}

.par-container p  {
    color:red;
}

.par-container    {
    margin: 5px;
}

i   {
    color:white;
    width: 100px;
}

.fa-grip-lines    {
    color:black;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
    border-right: 1px solid black;
}

.group-position {
    padding-left: 1rem;
}

.container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}

.team-container {
    padding: .5rem;
    font-size: .75rem;
    background-color: #f8ee5b;
    border: 1px solid black;
}

.team-container p {
    color:red;
}

.selected {
    background-color: green;
    color: white;
}

.selected p {
    color: white;
}

.error {
    color:red;
}