@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
:root {
    --gold: #d7b56d;
    --navy: #19223f;
    --silver: silver;
    --home-bg: #19223f;
    --mask-bg: #000000b8;
    --header-bg: #0a0e1a;
    --gg-bg: #475275;
    --gg-group-bg: #6f96bc;
    --gg-match-selected: #acadb7;
    --gg-team-selected: #19223f;
  }


body {
    font-family: Roboto;
    overflow-x: hidden;
    background-color: var(--gg-bg);
    width: 100%;
    min-height: 100dvh;
}

.navbar-brand {
    display: none;
}

.silver {
    color: silver;
    
}

h1, h5 {
    color: var(--gold);
    text-align: center;
    font-family: 'Bangers', cursive;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 5px 0;
}


h2,h3,h4,p {
    color: #fff;
}

p {
    font-family: roboto;
}

.header-space {
    margin-top: 32px;
}

.home-icon {
    position: relative;
    background-color: #00000000!important;
    font-family: 'Bangers', cursive;
    color: #d7b56d;
    text-shadow: 3px 3px  black;
    text-decoration: none;
    z-index: 10; 
    font-size: calc(1.375rem + 1.5vw);  
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap
}

.home-icon .silver {
    font-size: 60%;
}

.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    z-index: 5;
    vertical-align: middle;
}

#navbar-countdown {
    padding: 10px;
    /* background-color: #000; */
    color: #fff;
    font-size: 1rem;
    border-radius: 20px
}

.inner-time {
    font-size: small;
}

.navbar-toggler {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    /* margin-right: 12px; */
}

.hamburgerIcon {
    color: #000;
}

.navbar-toggler:focus {
    box-shadow: 2px 2px #000;
}

.nav-item {
    margin-left: auto;
    padding: 2px;
    background-color: #00000096;
    border-radius: 0.5rem;
}

.nav-pills .nav-link.active {
    font-family: Roboto;
    color: #000;
    background-color: #fafafa; 
    padding: .25rem 1rem;
    /* margin-right: 12px; */
    border-radius: 0.5rem;
    border: 2px solid #000;
    min-width: 200px;
    text-align: center;
}

.nav-link:hover {
    color: #000;
    font-weight: bold;
}

.message-container {
    position: fixed;
    top: 72px;
    /* left: 866px; */
    z-index: 99999999999;
}
 
.custom-toast {
    overflow: visible;
    border: none;
    border-radius: 1rem;
    margin-bottom: 3px;
}

.toast-header {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.toast-body {
    padding: .25rem;
    background-color: #c0c0c0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.toast-body .row {
    padding: .25rem;
    margin-bottom: 5px;
}

.toast-body .row:nth-of-type(even) {
    background-color: #e1f5fe;
}

.toast-body .row:nth-of-type(odd) {
    background-color: #cde0e9;
}

.toast-body img {
    /* margin: .25rem; */
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* border: 1px solid #fff; */
    border-radius: .25rem;
}

.toast-body p {
    color:#000;
    margin: 0;
    text-align: center;
    font-size: .85rem;
}

.toast
 
.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* Horizontal scroll banner */
.m-scroll__title p {
    font-size: 1rem!important;
    margin-top: 2px;
    color: #000;
    font-family: Roboto;
}

.scroll-score {
    color:red!important;
}

.spacer {
    width: 25px;
}

.img-banner {
    margin: 0.25rem;
    vertical-align: middle;
    object-fit: contain;
    border-radius: 10%;
}

.horizontal-scrolling-banner {
    padding: 0;
    /* position: fixed; */
    z-index: 15;
}

.m-scroll {
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    position: relative;
    width: 100%;
    height: 2rem;
    margin: auto;
    background-color:#d7b56d;
    overflow: hidden;
    z-index: 1;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
}

.m-scroll__title > .scroll-wrapper {
    display: flex;
    animation: scrollText 30s infinite linear;
}

/* .scroll-match {
    background-color: #17a2b8(odd);
} */

/* p {
    margin: 0;
    color: rgba(255,255,255,1);
    transition: all 2s ease;
} */

footer p {
    color: #fff;
    font-size: .75rem;
    text-align: right;
    font-style: italic;
    margin-right: 5px;
}

/*MODALS*/
.modal-content h4 {
    font-family: 'Bangers', cursive;
}

.modal-header {
    background-color: var(--navy);
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.modal-header:not(.tie-break-header) {
    display: block;
}

.modal-header h4 {
    color: var(--gold);
    background-color: var(--navy);
}

.modal-header .btn-close {
    background-color: #fff;
    margin: 0 0 0 auto; 
}

.modal-body {
    background-color: #e1f5fe;  
}

.modal-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: .25rem;
    border: 2px solid var(--gold);
}

.modal-body p {
    font-size: .85rem;
    font-family: 'Roboto';
}

.modal-body a:hover,
.modal-body a:focus {
    color: var(--gold);
}

.modal-footer {
    background-color: var(--navy);
    font-family: 'Bangers', cursive;
}

.modal-footer h6 {  
    color: var(--gold);
    background-color: #19223f;
}

.btn.close {
    background-color: #8c919f;
}

.tooltip-container {
    margin: auto;
    background-color: var(--navy);
}

.modal-tab {
    background-color: #e1f5fe;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding-top: 0.25rem;
    cursor: pointer;
}

.modal-tab:not(.active) {
    background-color: #b3d1df;
}

.modal-tab:not(.active) h4 {
    color: #000;
}

.modal-tab h4 {
    background-color: transparent!important;
    margin-bottom: 0!important;
}

.points {
    display:none;
}

.tooltip-text {
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin: auto; 
}

.tooltip-text li {
    font-size: .85rem;
    text-align: left!important;
    padding: .5rem;
    color: #fff!important;
}

.tooltip-text p span {
    text-decoration: underline;
}

.tooltip-text p {
    text-align: left!important;
    padding: 0 .5rem;
    color: #fff!important;
}

.tooltip-icon:hover .tooltip-text{
    visibility: visible;
}

/*div:hover {
animation-play-state: paused;
}*/

@keyframes scrollText {
from   { transform: translateX(0%); }
to { transform: translateX(-50%); }
}

