@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
/* body {
    background-color: #5F001E;
    width: 100%;
    overflow-x: hidden;
} */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    padding-top: 50px;
    background-image: url("https://res.cloudinary.com/dfboxofas/image/upload/v1668294529/nations-crests/worldcuppredictorbg_ab1hcp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

p {
    font-family: roboto;
}

.navbar {
    background-color: silver;
    padding: 0;
}

/* .navbar-brand {
    padding: 0;
} */

#navbar-countdown {
    color:#000;
    font-size: 1rem;
}

.navbar-toggler {
    border: 2px solid #000;
    color: #000;
    margin-right: 12px;
}

.hamburgerIcon {
    color: #000;
}

.navbar-toggler:focus {
    box-shadow: 2px 2px #000;
}

.navbar-collapse {
    background-color: silver;
    color: #000;
    text-align: right;
    z-index: 3;
}

.nav-link {
    color: #000;
    margin-right: 10px;  
}

.nav-link:hover {
    color: #000;
    font-weight: bold;
}

/* Button Start */
/* .btn {
    width: 50%;
    opacity: 1.0;
    background-color: #01C1B4;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
 
 .btn:hover,
 .btn:focus {
    color: #fff;
    background-color: #5f001e;
    border: 2px solid #fff;
} */
/* Button End */
/* allAuth stuff */

/* td  {
    margin-bottom: 0px;
    font-family: Roboto;
} */

/* h1 {
    text-align: center;
} */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
 
.custom-toast {
    overflow: visible;
}
 
.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* Horizontal scroll banner */
.m-scroll__title p {
    margin-top: 2px;
    color: green;
    font-family: Roboto;
}

.spacer {
    width: 25px;
}

.img-banner {
    margin: 0.25rem;
    vertical-align: middle;
    object-fit: contain;
    border-radius: 10%;
}

.horizontal-scrolling-banner {
    padding: 0;
    position: fixed;
    z-index: 5;
}

.m-scroll {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    position: relative;
    width: 100%;
    height: 2rem;
    margin: auto;
    background-color:gold;
    overflow: hidden;
    z-index: 1;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
}

.m-scroll__title > div {
    display: flex;
    animation: scrollText 30s infinite linear;
}

/* p {
    margin: 0;
    color: rgba(255,255,255,1);
    transition: all 2s ease;
} */

footer p {
    color: #fff;
    font-size: .75rem;
    text-align: right;
    font-style: italic;
    margin-right: 5px;
}

/*div:hover {
animation-play-state: paused;
}*/

@keyframes scrollText {
from   { transform: translateX(0%); }
to { transform: translateX(-50%); }
}

