@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
body {
    background-color: #000;
    width: 100%;
    overflow-x: hidden;
}

header {
    
}

.header-container {
    margin-top: 56px;
  }

.main-content {
    background: url("https://res.cloudinary.com/dfboxofas/image/upload/v1661352995/nations-crests/worldcuptrophy_u2dh7n.jpg");
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100%;
}

.listings   {
    background-color: #000;
    opacity: 0.9;
}

img {
    padding: 0px 5px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

h1 {
    color: red;
}

p   {
    margin-bottom: 0px;
    font-family: Roboto;
    color: #fafafa;
    /* font-weight: bold; */
}

form {
    font-size: 0.8em;
    /* border: 1px solid red; */
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
    max-width: 100%;
}

.btn {
    border-radius: 10px;
    opacity: 1.0;
    /* margin: 5px; */
    /*height: 25px;*/
}

.accordion-header {
    /* max-height: 40px; */
}

.accordion-item {
    background-color: transparent;
    margin-bottom: 5px;
} 

.fixture-result p {
    color: yellow;
}

#accordionFlushExample {
    width: 100%;
}

h2 button span {
    font-size: 0.75em;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
 
.custom-toast {
    overflow: visible;
}
 
.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


