<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allAuth.css' %}">
{% endblock %}

{% block content %}
    <div class="container centreContainerOuter">
        {% block inner_content %}
        {% endblock %}
    </div>
{% endblock %}
 
{% block content2 %}
    <!-- <div class="container header-container">
        <div class="overlay"></div>
        <div class="row accountContainer justify-content-center">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content2 %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
