{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<div class="">
  <div class="large-screen-h1">
      <div class="bottom-margin">
          <h1>Sign In</h1>
      </div>
      <div class="bottom-margin">
          <hr class="hr-large">
      </div>
  </div>

  <div class="element-container">
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
          </div>
          <div class="text-input">
              {{ form.login}}
          </div>
          <div class="text-input">
              {{ form.password}}
          </div>
          <div class="row">
              <div class="col-5 row">
                  <h6>Keep me Signed in</h6>>
              </div>
              <div class="col-7 row text-start">
                  {{ form.remember}}
              </div>
          </div>
          <div class="form-data">
              <button class="primaryAction button button-full-size" type="submit">{% trans "Log In" %}</button>
          </div>
          <div class="form-data">
              <h6>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </h6>
          </div>
          <div class="form-data">
              <h6>{% blocktrans %}Don't have an account yet? 
                <a href="{{ signup_url }}"><span class="highlight-text">Sign Up Here</span></a>.{% endblocktrans %}
              </h6>
          </div>
      </form>
  </div>
</div>

{% endblock %}
