{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="centreContainerInner">
    
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form.oldpassword | as_crispy_field }}
        {{ form.password1 | as_crispy_field }}
        {{ form.password2 | as_crispy_field }}
        <button type="submit" name="action" class="btn button mt-4">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="linkText">{% trans "Forgot Password?" %}</a>
    </form>

</div>
{% endblock %}
